.article-container {
  max-width: 910px;
  padding: 0 20px 0 20px;
  margin: 0 auto 0 auto;
  font-size: 20px;
}

.caption {
  font-size: 0.9rem;
}
.article-style img {
  margin-bottom:0;
}

.gist .blob-code,.blob-num {
  background-color: white !important;
}